.cursorrules
server/logs/*
server/logs/.gitkeep

client/node_modules/*
client/node_modules/.gitkeep

server/node_modules/*
server/node_modules/.gitkeep

client/dist/*
client/dist/.gitkeep

server/.env
server/.env.local
server/.env.development
server/.env.production
server/.env.test

.env
.env.local
.env.development
.env.production
.env.test


